nav {
    max-width: 960px;
    padding: 0 20px;
    margin: 8px auto;
    display: flex;
    align-items: center;

    div {
        display: inline-block;
        &.left-nav {
            flex: 1;
        }
        &.right-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media only screen and (min-width: 290px) {
                flex-direction: row;
            }
            a {
                margin: 5px;
            }
        }
    }

    a.nav-item {
        text-decoration: none;
        color: $color-secondary-2-0;
        transition: color 0.1s;

        // nesting is also supported
        &:hover {
            text-decoration: underline;
            color: $color-secondary-2-2;
        }
    }

    a#logo {
        text-decoration: none;
        transition: color 0.1s;
        margin-right: 10px;
        color: $color-primary-0;
        font-weight: bold;
        font-size: 1.5em;

        &:hover {
            color: $color-primary-1;
        }
    }
}

#page {
    margin-top: 148px;

    @media only screen and (min-width: 290px) {
        margin-top: 107px;
    }

    @media only screen and (min-width: 342px) {
        margin-top: 73px;
    }

    @media only screen and (min-width: 495px) {
        margin-top: 50px;
    }
}

#nav-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lighten($color-primary-1, 16%);
    opacity: 0.9;
}
