.contact {
    position: relative;

    header {
        background-color: $color-primary-0;
        text-align: center;
        width: 100%;
        margin: 0 0 16px 0;
    }

    h1 {
        color: white;
        padding: 8px 0 8px 0;
        margin: 0;
        line-height: 69px;
    }

    i {
        color: $color-secondary-2-0;
    }

    section {
        margin: 0 10px;
        max-width: 800px;
        color: #555;

        @media only screen and (min-width: 820px) {
            margin: 0 auto;
        }
    }

    dt {
        color: $color-primary-0;
        font-weight: bold;
        margin-top: 8px;
    }

    a {
        text-decoration: none;
        color: $color-secondary-2-0;
        transition: color 0.1s;

        // nesting is also supported
        &:hover {
            text-decoration: underline;
            color: $color-secondary-2-2;
        }
    }

}
